@import "bootstrap/variables.less";
@import "variables.less";
@import "../../../../vendor/components/bootstrap/less/mixins.less";






#main {
	margin-top: 60px;
}

#navbar {
	.fa-cog {

	}
}


.col {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 100%;
}


.col {
	.status {
		background: #ededed;
		padding:5px 0 20px 0 ;

		.card {
			list-style: none;
			padding:5px;
			margin-bottom:1px;
			border: 1px solid #cccccc;
			background: #ffffff;

			border-left: 5px solid #cccccc;
			cursor: move;
			.avatar {
				float:right;
				width:40px;
				max-width: 40px;

			}
			.content {
				margin-right:50px;
			}
		}
		.card.show_plan {
			min-height: 40px;
		}
		.card.show_work {
			min-height: 80px;
		}

		.bug {
			border-left: 5px solid red;
		}
		.fa.fa-bug {
			color: red;
			border: none;
		}

		.task {
			border-left: 5px solid green;
		}
		.fa-task:before {
			content: "\f0ae";
		}
		.fa.fa-task {

			border: none;
			color: green;
		}

		.improvement {
			border-left: 5px solid orange;
		}
		.fa.fa-improvement:before {
			content: "\f148";
		}
		.fa.fa-improvement {
			border: none;
			color: orange;
		}

		.newfeature {
			border-left: 5px solid blue;
		}
		.fa.fa-newfeature:before {
			content: "\f06b";
		}
		.fa.fa-newfeature {
			border: none;
			color: blue;
		}


		.fa.fa-blocker {
			color: @blocker;
		}
		.fa.fa-blocker:before {
			content: "\f05e";
		}

		.fa.fa-critical {
			color: @critical;
		}
		.fa.fa-critical:before {
			content: "\f0aa";
		}

		.fa.fa-major {
			color: @major;
		}
		.fa.fa-major:before {
			content: "\f01b";
		}

		.fa.fa-minor {
			color: @minor;
		}
		.fa.fa-minor:before {
			content: "\f01a";
		}

		.fa.fa-trivial {
			color: @trivial;
		}
		.fa.fa-trivial:before {
			content: "\f0ab";
		}



		.highlight {
			background: #FEE25F;
		}
		.sortable-placeholder {
			border: 1px dashed #CCC;
			background: #ededed;
			min-height: 80px;
		}
		.sortable-dragging {


		}
	}
	h3.status {
		font-size:1em;
		background: none;
	}
}





#quick_view {
	border-left: 2px solid #cccccc;
	padding:10px;
	.label-todo {
		background-color: @todo;
	}
	.label-inprogress {
		background-color: @inprogress;
	}
	.label-inqualification {
		background-color: @inqualification;
	}
	.label-done {
		background-color: @done;
	}
}





table.table th.tiny {
	width: 20px;
	max-width: 20px !important;
}
